<!DOCTYPE html>
<html class="style-orange-3  custom_fonts comps live_website" lang="">
  <head>
    <!-- This page is running on Unicorn Platform. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/main.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://ucarecdn.com/356cf04c-c58c-44cf-ba61-0bc4d26c45e2/favicon_icon9.png" sizes="16x16" />
    <meta property="og:type" content="website">
    <title>Sign up</title>
  </head>
  <body class="font-work-sans comps" id="13509-145696">
    <nav class="js-nav nav-02 nav-02--static">
      <div class="container container--large">
        <div class="nav-02__box">
          <div class="nav-02__logo">
            <a class="nav-02__link" href="/" target="_self">
              <h2>MyStoryPal</h2><!--<img class="nav-02__logo_img" src="https://unicorn-cdn.b-cdn.net/4abd95ed-212a-4d02-8f82-d6de63a7ac99/-/crop/500x86/0,124/-/preview/" height="37" alt="Logo (12)" />-->
            </a>
          </div>
          <div class="nav-02__links js-menu">
            <div class="nav-02__list_wrapper  ">
              <ul class="nav-02__list nav-02__list--desktop">
                <!--<li class="nav-02__item">
                  <a class="button   button--black-outline  button--empty " href="/about" target="_self">
                    <span class="button__text">About</span>
                  </a>
                </li>-->
                <li class="nav-02__item">
                  <div class="buttons-set">
                    <ul class="buttons-set__list">
                      <li class="buttons-set__item">
                        <a data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url="" class="button button--black-outline " href="{{ url_for('signin') }}" target="_blank">
                          <span class="button__text">Log In</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="nav-02__list nav-02__list--mobile">
                <!--<li class="nav-02__item">
                  <a class="button   button--black-outline  button--empty " href="/about" target="_self">
                    <span class="button__text">About</span>
                  </a>
                </li>-->
                <li class="nav-02__item">
                  <div class="buttons-set">
                    <ul class="buttons-set__list">
                      <li class="buttons-set__item">
                        <a data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url="" class="button button--black-outline " href="{{ url_for('signin') }}" target="_blank">
                          <span class="button__text">Log In</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav-02__burger">
              <button class="burger burger--black js-open-menu" type="button">
                <div class="burger__box">
                  <div class="burger__inner"></div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="page-component__bg_image_box    bg-white-color  first_component  " id="cta_form-04-574351">
      <div class="page-component__bg_overlay_box " style=""></div>
      <div class="page-component__wrapper" style="z-index: 10;padding-top:70px;padding-bottom:70px;">
        <div class="cta_form-04">
          <div class="container container--mid">
            <div class="cta_form-04__wrapper">
              <div class="cta_form-04__top">
                <div class="cta_form-04__heading_box">
                  <div class="container container--small">
                    <div class="title-box title-box--center">
                      <h1 class="heading ">Are You With Us?</h1>
                    </div>
                  </div>
                </div>
                <!--{% if current_user.is_authenticated %}
                    You are already logged in.
                {% else %}-->
                {{ msg }}<br>
                <form action="#" method="POST" id="signup-form">
                  <input type="text" name="email" placeholder="Email" required /><br><br>

                  <input type="password" name="password" placeholder="Password" required/><br><br>

                      <!-- Options to choose role -->
                        <!-- Give the role ids in the value -->
                    <!--<select name="interest" id="interest">
                      <option value="mental_health">Mental Health</option>
                      <option value="fitness">Fitness</option>
                      <option value="sleep_hygeine">Sleep Hygeine</option>
                    </select>-->
                      <!--<input type="radio" name="options" id="option1" value=1 required> Admin </input>
                  <input type="radio" name="options" id="option2" value=2> Teacher </input>
                  <input type="radio" name="options" id="option3" value=3> Staff </input>
                      <input type="radio" name="options" id="option3" value=4> Student </input><br>-->
                  <br>

                      <!--<button type="submit">Submit</button>-->
                      <button class="button js-submit-button button--accent-bg " type="submit">
                        <span class="button__text">Sign Up</span>
                        <div class="spinner"></div>
                        <div class="button__submit_success">
                          <div class="button__success_circle "></div>
                          <div>
                            <svg class="button__success_tick" width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
                              <path class="button__success_tick_path" stroke="#FFF" d="M0 8l5.119 3.873L11.709.381" fill="none" fill-rule="evenodd" stroke-linecap="square" />
                            </svg>
                          </div>
                        </div>
                        <span class="icon">
                          <svg viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.823 4.164L8.954.182a.592.592 0 0 0-.854 0 .635.635 0 0 0 0 .88l2.836 2.92H.604A.614.614 0 0 0 0 4.604c0 .344.27.622.604.622h10.332L8.1 8.146a.635.635 0 0 0 0 .88.594.594 0 0 0 .854 0l3.869-3.982a.635.635 0 0 0 0-.88z" fill-rule="nonzero" fill="#00396B" class="fill-main" />
                          </svg>
                        </span>
                        </button>

                      <!-- Link for signin -->
                      <!--<span>Already have an account?</span>
                      <a href="/signin">Sign in</a>-->
                </form>

              <div class="cta_form-04__bottom">
                <h2 class="cta_form-04__bottom_heading "></h2>
                <span class="cta_form-04__bottom_text ">By creating an account, you agree to our <a href="{{ url_for('privacypolicypage') }}" target="_self">Privacy Policy</a> and <a href="{{ url_for('tospage') }}" target="_self">Terms of Service</span></a>
                <div class="cta_form-04__bottom_link"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-black-color  text-white ">
      <footer class="footer-02" id="footer" style="">
        <div class="container">
          <div class="footer-02__wrapper">
            <div class="footer-02__text content_box">&copy; 2023&nbsp; <p>MyStoryPal. All rights reserved | <a href="{{ url_for('privacypolicypage') }}" target="_self"> Privacy Policy </a>| <a href="{{ url_for('tospage') }}" target="_self">Terms of Service</a>
              </p>
            </div>
            <div class="social-buttons  ">
              <ul class="social-buttons__list">
                <li class="social-buttons__item">
                  <a class="social-buttons__link social-buttons__link--twitter" href="https://twitter.com/careerbuddyhq" target="_blank">
                    <img loading="lazy" class="social-buttons__icon" alt="twitter icon" src="static/img/icons/social/white/twitter.svg" />
                  </a>
                </li>
                <li class="social-buttons__item">
                  <a class="social-buttons__link social-buttons__link--instagram" href="https://www.instagram.com/careerbuddyhq/" target="_blank">
                    <img loading="lazy" class="social-buttons__icon" alt="instagram icon" src="static/img/icons/social/white/instagram.svg" />
                  </a>
                </li>
                <li class="social-buttons__item">
                  <a class="social-buttons__link social-buttons__link--linkedin" href="https://www.linkedin.com/company/thecareerbuddy" target="_blank">
                    <img loading="lazy" class="social-buttons__icon" alt="linkedin icon" src="static/img/icons/social/white/linkedin.svg" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <style>
      .page-component__bg_image_box .page-component__bg_image_box .page-component__bg_overlay_box {
        position: relative;
      }

      body .page-component__bg_overlay_box {
        position: absolute;
      }

      .footer-02__text.content_box a {
        color: inherit !important;
      }

      .footer-04__info {
        font-size: 14px;
      }
    </style>
  </body>
</html>
